
//Descriptive color variables

$white          : #fff;
$gray           : #777;
$viking         :#58e1c1;
$default        :#51ddfc;


//funtional Colors
$color-prim     : $viking;
$color-second   : $default;
$color-text-base: $gray;
$color-text-light: $white;

// font stack
$stack-lato       : 'Lato', sans-serif;
$font-weight--light : 300;
$font-weight--normal: 700;
$br  : 5px;

//Media Breakpoint
$break: 768px;


//button colors
$btn-colors: (
  "error": #e4757a,
  "default": $color-second,
  "info": #927bc1,
  "success": #63cc82,
  "warning": #fd7856,
);

// theme colors
$themes: (  1: #927bc1,
            2: #fd7856,  
            3: #deb2ee,
            4: #7ee6fd,
            5: #88d9a0,
            6: #4da2bb, 
            7: #ec9fa3, 
            8: #fd9f85, 
            9: #e4757a, 
            10:#63cc82,
            11:#51ddfc,
            12:#80e8d1
             );